$headerBackground: url('../img/m-h-night.jpg');
$font: 'Hind', sans-serif;
$colorCard: #fff;
$bodyBgColor: #21232e;
$colorTitle: #fff;
$colorHeader: #fff;
$backgroundWord: #ff4e33;
$backgroundBtn: #e3ac00;
$backgroundCard: #3b3f50;
$colorText: #c0c3ce;
$bannerGradient: ('start':#e3ac00, 'end':#ff4e33);