$headerBackground: url('../img/m-h-day.jpg');
$font: 'Hind', sans-serif;
$colorCard: #fff;
$bodyBgColor: #fff;
$colorTitle: #21232e;
$colorHeader: #344c59;
$backgroundWord: #14a0c7;
$backgroundBtn: #699900;
$backgroundCard: #21232e;
$colorText: #c0c3ce;
$bannerGradient: ('start':#65950b, 'end':#2f5dd3);


